body{ 
  margin:0px; 
  font-size:16px; 
  font-family: 'Marcellus SC', serif; 
  background-color:#111; 
  color:#aaa; 

} 

footer{ 
  margin-top:5%; 
margin-bottom:5%; 
  font-size:16px; 
} 
#quote{ 
  display:none; 
  background-image:url(https://raw.githubusercontent.com/CRLannister/CRLannister.github.io/9d3a4f8d31007df57bce0321cf8f855385b49393/blank%20paper.png); 
   no-repeat center center fixed; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover; 
  color:black; 
  font-size:1.5em; 
  padding-top:3%; 
  padding-bottom:3%; 
  border-radius:2px; 

  box-shadow: 3px 3px 5px rgba(105,105,105,0.6); 
  
} 
#buttonGroup{ 
  margin-top:3%; 
} 
/*#logo{ 
  width:30%; 
  height:30%; 
}*/ 
.btn-default{ 
  font-weight:bold; 
  background-color:#ccc; 
} 

footer a:link{ 
  color:#bf9b30; 
} 
footer a:visited{ 
  color:#ffdc73; 
} 
footer a:hover{ 
  color:#ffdc73; 
  text-decoration:all; 
  font-style:italic; 
}